<div class="my-5">
    <h3 class="mb-4">
        Enter your search query:
    </h3>
    <input id="txtProductName" type="text" />
    <button id="searchButton" class="btn btn-secondary">Search</button>
</div>
<table id="tblProducts" cellpadding="0" cellspacing="0">
    <tbody></tbody>
</table>


<script type="text/javascript">

    $(document).ready(function(){

         $("body").keypress(function(e){
             var code = (e.keyCode ? e.keyCode : e.which);
             if(code == '13'){
              var searchQuery = $.trim($("#txtProductName").val());
                $("table tbody").html("");
                $.ajax({
                    type: "POST",
                    url: "/api/Search",
                    data: "\"" + searchQuery + "\"",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (products) {
                        var table = $("#tblProducts");
                        table.find("tr:not(:first)").remove();
                        $.each(products, function (i, product) {
                            $("tbody").append($("<tr>"));
                            appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html('<img src=' + product.imageThumbnailUrl + ' width=250 class="rounded m-2">'));
                            appendElement.append($("<td>").html('<h2><a href="/product/details/' + product.productId + '" class="product-link">' + product.name + '</a></h2>'));
                        });
                    },
                    error: function (xhr, status, error) {
                            console.log(xhr)
                    }
                });
             }
         });
        

      $("button").click(function(){
        var searchQuery = $.trim($("#txtProductName").val());
            $("table tbody").html("");
            $.ajax({
                type: "POST",
                url: "/api/Search",
                data: "\"" + searchQuery + "\"",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (products) {
                    var table = $("#tblProducts");
                    table.find("tr:not(:first)").remove();
                    $.each(products, function (i, product) {
                        $("tbody").append($("<tr>"));
                        appendElement = $("tbody tr").last();
                        appendElement.append($("<td>").html('<img src=' + product.imageThumbnailUrl + ' width=250 class="rounded m-2">'));
                        appendElement.append($("<td>").html('<h2><a href="/product/details/' + product.productId + '" class="product-link">' + product.name + '</a></h2>'));
                    });
                },
                error: function (xhr, status, error) {
                        console.log(xhr)
                }
            });
          });

        });

</script>