@model HomeViewModel

<partial name="_Carousel" />

<div class="text-center">
    <img src="Images/agro-food-shop-logomark.png" class="logo-mark mx-auto" />
    <h1>Products of the week</h1>
    <h5>Take a look at the weekly selection of our bestselling products</h5>

    <div class="row product-of-the-week">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var product in Model.ProductsOfTheWeek)
            {
                <partial name="_ProductCard" model="product" />
            }
        </div>
    </div>
</div>
